# Ignore generated PDF by default; CI will force-add when publishing
resume.pdf

# Aux files
*.aux
*.log
*.fdb_latexmk
*.fls
*.out
*.toc
*.synctex.gz
node_modules/
package-lock.json
main.pdf
.gitignore
.gitignore
page-1.png
page1.txt
page-2.png
page2.txt
